html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }

/* Custom begins*/

header
{
    display: inline-block;
}

#logo
{
    margin: 30px 100px;
    padding: 5px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: green;
    display: inline-block;
}

.navigation
{
    display: inline-block;
    position: relative;
    margin-left: 800px;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: black;
}

a
{
    margin-right: 40px;
}

.article
{
    display: inline-block;
    margin-bottom: 50px;
}

.article-text
{
    width: 400px;
    height: auto;
    margin: 30px 100px;
    padding: 5px;
    display: inline-block;
    text-align: left;
}

h3
{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    color: black;
    margin-bottom: 20px;
}

#bottom
{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: black;
    text-align: justify;
}

#article-image
{
    height: 250px;
    width: auto;
    margin-left: 280px;
}

.gallery
{
    margin-bottom: 30px;
}

.gallery-image
{
    height: 350px;
    width: auto;
    position: relative;
    margin-left: 100px;
    margin-right: 160px;
}

#go-up
{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: inline-block;
    background-color: yellow;
}

p
{
    position: sticky;
    margin-top: 30px;
    text-align: center;
    color: black;
    font-weight: bold;
}
